header {
  height: 400px;
  background-image: url(../img/hero-try.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 2rem;

  .tickets {
    @include classy-text;
    cursor: pointer;  // not sure why this is needed
    font-size: 1.2rem;
    color: $button-text-color;
    border: $default-line-width solid $button-text-color;
    padding: 5px 30px;
    border-radius: 30px;

    &:hover {
      background-color: $white;
      color: $text-color;
      transition: $default-transition;
    }
  }

  @include larger-than($header-breakpoint) {
    padding-top: 0;
    background-attachment: fixed;
  }

  @include larger-than(break-m) {
    height: 600px;
    background-position: left bottom;
  }

  @include larger-than(break-l) {
    height: 100vh;
  }
}

header .container {
  max-width: 90%;
}

.compact-nav {
  overflow: auto;

  &::after {
    content: "";
    clear: both;
    display: block;
  }

  a {
    float: right;
  }

  @include larger-than($header-breakpoint) {
    display: none;
  }
}

#burger {
  position: relative;
  max-width: 33px;
  height: 14px;
  cursor: pointer;
  z-index: 1000;
  // top: 0.7rem; // magic number

  @include larger-than($header-breakpoint) {
    display: none;
  }

  span {
    background: $white;
    height: $default-line-width;
    width: 100%;
    position: absolute;
  }

  span:first-child {
    top: 0;
    transition: $default-transition;
  }

  span:nth-child(2) {
    top: 7px;
    transition: $default-transition;
  }

  span:last-child {
    top: 14px;
    transition: $default-transition;
  }

  &.is-open {
    span:first-child {
      transform: translateY(7px) rotate(45deg);
      transition: $default-transition;
    }

    span:nth-child(2) {
      opacity: 0;
      transition: $default-transition;
    }

    span:last-child {
      transform: translateY(-7px) rotate(-45deg);
      transition: $default-transition;
    }
  }
}

.large-nav {
  overflow: auto;

  &::after {
    content: "";
    clear: both;
    display: block;
  }

  ul>li {
    // display: inline-block;
    margin-right: 12px;

    @include larger-than($header-breakpoint) {
      display: inline-block;
    }
  }

  .tickets, .social {
    display: inline-block;
  }

  .social {
    line-height: 56px;
  }
}

.nav-right {
  float: right;
}

// have to target them separately for javascript reasons
.large-nav>ul, .large-nav>div {
  display: none;

  @include larger-than($header-breakpoint) {
    display: block;
  }
}

#menu {
  @include no-list-style;

  li a {
    color: $white;

    &:hover {
      border-bottom: $default-line-width solid $white;
    }
  }

  @include larger-than($header-breakpoint) {
    float: left;
    line-height: 56px;
  }
}

#menu.is-visible {
  display: block;
}

.info-block {
  margin-top: 5rem;
  color: $white;
  text-align: center;

  @include larger-than($header-breakpoint) {
    margin-left: 50%;
    margin-top: 3rem;
  }
}

.endorsement {
  display: none;

  @include larger-than($header-breakpoint) {
    display: block;

    .stars {
      font-size: 1.8rem;
      letter-spacing: 7px;
      margin: 0;
    }

    .quote-mark {
      font-size: 4rem;
      line-height: 40px;
    }

    .attribution {
      font-size: 0.1rem;
      margin: 0;
    }
  }
}

.title {
  @include classy-text;
  line-height: 1rem;
  font-weight: 400;
  color: inherit;
  margin-top: 3rem;

  span {
    display: block;
  }

  span:first-child {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  span:nth-child(2) {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 10px;
    // fix weird bug where letter spacing makes text off-center
    text-indent: 10px;
  }

  span:last-child {
    font-size: 9rem;
    line-height: 9rem;
    letter-spacing: 35px;
    // fix weird bug where letter spacing makes text off-center
    text-indent: 35px;
  }
}
