footer {
  background: $primary-color;
  padding: 2rem;
  padding-bottom: 3rem;
  text-align: center;

  .social {
    @include box-sizing();

    li {
      display: inline;
      padding: 0 1rem;
    }

    @include larger-than(break-m) {
      @include span-columns(6);
      text-align: left;
      line-height: 2rem;
      margin-top: 1.3rem;
    }
  }

  .tickets {
    @include box-sizing();
    background: $white;
    margin-top: 1rem;
    padding: 5px 30px;
    border-radius: 30px;
    @include classy-text;
    color: $primary-color;

    @include larger-than(break-m) {
      @include span-columns(6);
      max-width: 20rem;
      line-height: 2rem;
    }

    &:hover {
      color: $white;
      background: $primary-color;
      transition: $default-transition;
    }
  }
}
