/**
 * BASE STYLES
 */

body {
  background-color: $background-color;
  color: $text-color;
  overflow-x: hidden;
}

section {
  margin-top: 2rem;

  @include larger-than(break-m) {
    margin-top: 4rem;
  }

  @include larger-than(break-l) {
    margin-top: 6rem;
  }
}

.container {
  @include set-container;
}

a {
  color: $text-color;
  text-decoration: none;
}

.social {
  @include no-list-style;
}
